*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    gap:1rem;
    border: 1px solid white;
    padding: 14px;
    background-color: rgb(111, 164, 164);
}
input{
    width: 300px;
    padding: 5px;
    outline: none;
}
.heading{
    color: white;
    margin: auto;
}

